{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <title>Book Form</title>
    <link rel="icon" href="https://b1.pngbarn.com/png/966/621/dots-white-and-blue-circle-and-book-icon-png-clip-art.png" type="image/png">
</head>
<body style="background-color:  #2e3560 ;">
      <a href="backhome" class="btn btn-danger px-3 mx-5 ">Back</a> <br>
      <div style="background-color: #2e3560; display: flex; align-items: center; justify-content: center;">
      <form method="POST"  enctype="multipart/form-data" class="p-5 bg-info" style="width:400px ;border: 1px solid black; border-radius: 5px; -webkit-box-shadow: 23px 29px 38px 0px rgba(22,26,54,1); -moz-box-shadow: 23px 29px 38px 0px rgba(22,26,54,1); box-shadow: 23px 29px 38px 0px rgba(22,26,54,1);" >
        {% csrf_token %}
        <h3 class="text-light">Book's Form</h3>
        <div class="form-group">
          <label class="text-light">Image: (Optional)</label>
          <input type="file" class="form-control " name="image" >
        </div>
        <div class="form-group">
          <label class="text-light">Book Name</label>
          <input type="text" required  class="form-control " req name="dispo" >
        </div>

        <br>
        <h4 class="text-danger">Id will be set automatically</h4> 
        {% for message in messages %}
        <div> <h4 class="text-danger">*{{message}}</h4> </div>
        {% endfor %}
        <br>
        <button type="submit" value="Post" class="btn btn-primary">Submit</button>
      </form>
    </div>
</body>
</html>