{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <title>Search for books</title>
    <link rel="icon" href="https://b1.pngbarn.com/png/966/621/dots-white-and-blue-circle-and-book-icon-png-clip-art.png" type="image/png">
</head>
<body style="background-color: #202445;" class="text-light">
    <div class="container justify-content-around m-5">
        <div class="m-5">
        <a href="{% url 'backhome' %}" class="btn btn-success my-1">Back</a>
        <form action="makeQuery" method="GET">
        <h3 class="text-light">Search for books</h3>
        <input type="text" class="m-2" name="searchedThis" style=" width: 400px; height: 45px; border-radius: 5px;">
        <button type="submit" class="btn btn-success text-light m-2">Search by</button>
        <select name="searchBy" class="m-2 btn btn-primary">
            <option value="dispo">Book name</option>
        </select>
        {% for message in messages %}
        <div class="text-danger"> <h4>{{message}}</h4> </div>
        {% endfor %}
        </form>
    </div>
        
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>